html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    background-image: url(../images/w05_circles.jpg);
    background-size: cover;
    height: 65%;
    background-position: center;
}

main{
    background-color: #737373;
    height: 45%;
    text-align: center;
}

main img{
    display:inline-block;
    max-height: 250px;
    border-radius: 50%;
    border: 12px solid #444;
    margin: 75px 60px;
}